.khan__buy-link {
  position: relative;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: all 0.2s;
}

.khan__buy-link::after {
  content: "→";
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.khan__buy-link:hover {
  opacity: 0.6;
}

.khan__buy-link:hover::after {
  right: -50px;
}